body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin: 2rem;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
